<div>
    <h2>Estoque</h2>
    <hr>
    <form [formGroup]="estoqueForm" (submit)="salvar()">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="quantidade">Quantidade *</label>
                    <input formControlName="quantidade" type="number" name="quantidade" id="quantidade" class="form-control text-right">
                    <af-mensagem texto="Quantidade obrigatória" *ngIf="estoqueForm.get('quantidade').errors?.required"></af-mensagem>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="idProduto">Produto *</label>
                    <select formControlName="idProduto" id="idProduto" class="form-control">
                        <option *ngFor="let produto of produtos" [value]="produto.idProduto">
                            {{produto.nome}}
                        </option>
                    </select>
                    <af-mensagem texto="Produto obrigatória" *ngIf="estoqueForm.get('idProduto').errors?.required"></af-mensagem>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-check form-check-inline">
                    <input formControlName="isAtivo" class="form-check-input" type="checkbox" id="isAtivo" value="option1">
                    <label class="form-check-label" for="isAtivo">Situação</label>
                </div>
            </div>
        </div>
        <div class="pt-3">
            <a [routerLink]="['/estoque']" class="mr-2 btn btn-danger">Voltar</a>
            <button [disabled]="estoqueForm.invalid" type="submit" class="btn btn-success">Enviar</button>
        </div>
    </form>
</div>