<div>
    <h2>Cidade</h2>
    <hr>
    <form [formGroup]="cidadeForm" (submit)="salvar()">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nome">Nome *</label>
                    <input formControlName="nome" type="text" name="nome" id="nome" class="form-control">
                    <af-mensagem texto="Nome obrigatório" *ngIf="cidadeForm.get('nome').errors?.required"></af-mensagem>
                    <af-mensagem texto="Tamanho maximo de 50 caracteres" *ngIf="cidadeForm.get('nome').errors?.maxlength"></af-mensagem>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="idEstado">Estado</label>
                    <select class="form-control" formControlName="idEstado" id="idEstado">
                        <option *ngFor="let estado of estados" [value]="estado.idEstado">{{estado.nome}}</option>
                    </select>
                    <af-mensagem texto="Estado obrigatório" *ngIf="cidadeForm.get('idEstado').errors?.required"></af-mensagem>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-check form-check-inline">
                    <input formControlName="isAtivo" class="form-check-input" type="checkbox" id="isAtivo" value="option1">
                    <label class="form-check-label" for="isAtivo">Situação</label>
                </div>
            </div>
        </div>
        <div class="pt-3">
            <a [routerLink]="['/cidade']" class="mr-2 btn btn-danger">Voltar</a>
            <button [disabled]="cidadeForm.invalid" type="submit" class="btn btn-success">Enviar</button>
        </div>
    </form>
</div>