<div>
    <a class="btn btn-outline-success pull-right mb-4" [routerLink]="['novo-pedido']">
        <i class="fa fas fa-plus"></i>
        <span class="pl-1">Novo Pedido</span>
    </a>
</div>
<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Código</th>
                <th>Data</th>
                <th>Cliente</th>
                <th>Usuário</th>
                <th>Situação</th>
                <th class="text-right">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pedido of pedidos">
                <td>{{pedido.idPedido}}</td>
                <td>{{pedido.data}}</td>
                <td>{{pedido.cliente.nome}}</td>
                <td>{{pedido.usuario.nome}}</td>
                <td>{{getStatus(pedido.status)}}</td>
                <td class="text-right">
                    <div class="form-check-inline">
                        <div class="p-1">
                            <span *ngIf="!isCancelado(pedido)" class="pl-2 btn-remover" attr.title="Cancelar pedido {{pedido.idPedido}}"
                                style="cursor: pointer; font-size: 14pt" (click)="cancelar(pedido)">
                                <i class="fa fas fa-times"></i>
                            </span>
                            <span *ngIf="!isCancelado(pedido) && !isFinalizado(pedido)" class="pl-2 btn-sucesso" attr.title="Finalizar pedido {{pedido.idPedido}}"
                                style="cursor: pointer; font-size: 14pt" (click)="finalizar(pedido)">
                                <i class="fa fas fa-check"></i>
                            </span>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>