<div>
    <a class="btn btn-outline-success pull-right mb-4" [routerLink]="['/caixa/novo-caixa']">
        <i class="fa fas fa-plus"></i>
        <span class="pl-1">Abrir Caixa</span>
    </a>
</div>
<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Código</th>
                <th>Valor Inicial</th>
                <th>Usuário</th>
                <th>Data</th>
                <th class="text-right">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let caixa of caixas">
                <td>{{caixa.idCaixa}}</td>
                <td>{{caixa.valorInicial}}</td>
                <td>{{caixa.usuario.nome}}</td>
                <td>{{caixa.data}}</td>
                <td class="text-right">
                    <div class="form-check-inline">
                        <div class="p-1">
                            <span class="pl-2 btn-remover" attr.title="Remover do dia {{caixa.data}}" (click)="remover(caixa)"
                                style="cursor: pointer; font-size: 14pt"><i class="fa fa-trash"></i></span>
                            <span class="pl-2 btn-editar" attr.title="Alterar caixa do dia {{caixa.data}}" style="cursor: pointer; font-size: 14pt"
                                (click)="alterar(caixa)">
                                <i class="fa fas fa-edit"></i>
                            </span>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>