<div>
    <h2>Operação</h2>
    <hr>
    <form [formGroup]="operacaoForm" (submit)="salvar()">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nome">Nome *</label>
                    <input #nomeInput formControlName="nome" type="text" name="nome" id="nome" class="form-control">
                    <af-mensagem texto="Nome obrigatório" *ngIf="operacaoForm.get('nome').errors?.required"></af-mensagem>
                    <af-mensagem texto="Tamanho maximo de 60 caracteres" *ngIf="operacaoForm.get('nome').errors?.maxlength"></af-mensagem>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="descricao">Descrição</label>
                    <textarea formControlName="descricao" name="descricao" id="descricao" cols="30" rows="3" class="form-control"></textarea>
                    <af-mensagem texto="Tamanho maximo de 255 caracteres" *ngIf="operacaoForm.get('descricao').errors?.maxlength"></af-mensagem>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-check form-check-inline">
                    <input formControlName="isAtivo" class="form-check-input" type="checkbox" id="isAtivo" value="option1">
                    <label class="form-check-label" for="isAtivo">Situação</label>
                </div>
            </div>
        </div>
        <div class="pt-3">
            <a [routerLink]="['/operacao']" class="mr-2 btn btn-danger">Voltar</a>
            <button [disabled]="operacaoForm.invalid" type="submit" class="btn btn-success">Enviar</button>
        </div>
    </form>
</div>