<div>
    <a class="btn btn-outline-success pull-right mb-4" [routerLink]="['/operacao/nova-operacao']">
        <i class="fa fas fa-plus"></i>
        <span class="pl-1">Nova Operação</span>
    </a>
</div>
<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th class="text-right">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let operacao of operacoes">
                <td>{{operacao.idOperacao}}</td>
                <td>{{operacao.nome}}</td>
                <td>{{operacao.descricao}}</td>
                <td class="text-right">
                    <div class="form-check-inline">
                        <div class="p-1">
                            <af-is-ativo class="btn-isAtivo" [isAtivo]="operacao.isAtivo" (onIsAtivo)="ativarInativar($event, operacao)"></af-is-ativo>
                            <span class="pl-2 btn-editar" attr.title="Alterar {{operacao.nome}}" style="cursor: pointer; font-size: 14pt"
                                (click)="alterar(operacao)">
                                <i class="fa fas fa-edit"></i>
                            </span>
                            <span class="pl-2 btn-remover" attr.title="Remover {{operacao.nome}}" (click)="remover(operacao)"
                                style="cursor: pointer; font-size: 14pt"><i class="fa fa-trash"></i></span>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>