<div class="wrapper">
    <nav id="sidebar" *ngIf="isLogged()">
        <div class="sidebar-header">
            <h3>AFSport</h3>
        </div>

        <ul class="list-unstyled components">
            <p>Módulo Administrativo</p>
            <li>
                <a [routerLink]="['/']">
                    <i class="fa fas fa-columns"></i>
                    Dashboard
                </a>
            </li>
            <li>
                <a [routerLink]="['/pedido']">
                    <i class="fa fas fa-shopping-cart"></i>
                    Pedidos
                </a>
            </li>
            <li>
                <a [routerLink]="['/categoria']">
                    <i class="fa far fa-list-alt"></i>
                    Categorias
                </a>
            </li>
            <li>
                <a [routerLink]="['/produto']">
                    <i class="fa fas fa-cubes"></i>
                    Produtos
                </a>
            </li>
            <li>
                <a [routerLink]="['/estado']">
                    <i class="fa fas fa-compass"></i>
                    Estados
                </a>
            </li>
            <li>
                <a [routerLink]="['/cidade']">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    Cidades
                </a>
            </li>
            <li>
                <a [routerLink]="['/cliente']">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    Clientes
                </a>
            </li>
            <li>
                <a [routerLink]="['/estoque']">
                    <i class="fa fa-archive" aria-hidden="true"></i>
                    Estoques
                </a>
            </li>
            <li>
                <a [routerLink]="['/caixa']">
                    <i class="fa fa-usd" aria-hidden="true"></i>
                    Caixas
                </a>
            </li>
            <li>
                <a [routerLink]="['/movimentacao']">
                    <i class="fa fa-exchange" aria-hidden="true"></i>
                    Movimentações
                </a>
            </li>
            <li>
                <a [routerLink]="['/operacao']">
                    <i class="fa fa-book" aria-hidden="true"></i>
                    Operações
                </a>
            </li>
        </ul>
    </nav>

    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="isLogged()">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-info" (click)="toggle()">
                    <i class="fa fa fas fa-bars"></i>
                    Menu
                </button>

                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="fa fas fa-align-justify"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item">
                            <a *ngIf="(user$ | async) as user" class="nav-link" href="#">
                                <i class="fa fas fa-user"></i>
                                {{user.sub}}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a (click)="logout()" class="nav-link" href="javascript:void(0)">
                                <i class="fa fa-sign-out" aria-hidden="true"></i>
                                Sair
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <ng-content></ng-content>
    </div>
</div>