<div class="row">
    <div class="col-md-6">
        <img class="img-fluid" src="../../assets/img/login/login.jpg" alt="login">
    </div>
    <div class="col-md-6">
        <div class="pt-2 mt-4">
            <h2>AFSport</h2>
            <p><i>Tecnologia ao seu alcance.</i></p>
            <form [formGroup]="loginForm" (submit)="autenticar()">
                <div class="form-group">
                    <label for="login">Login</label>
                    <input #loginInput formControlName="login" type="email" class="form-control" id="login" placeholder="Entre com o seu login">
                </div>
                <div class="form-group">
                    <label for="senha">Senha</label>
                    <input formControlName="senha" type="password" class="form-control" id="senha" placeholder="Senha">
                </div>
                <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary pull-right">
                    Entrar
                    <img #loadButton src="../../assets/img/load.svg" alt="Carregando" style="display: none" >
                </button>
            </form>
        </div>
    </div>
</div>